<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css" type="text/css">

    <title>Borrow books from Hello Books Library</title>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-light" id="nav-bg">
        <a class="navbar-brand" href="#">
            <img src="static/img/logo.jpg" width="30" height="30" class="d-inline-block align-top"
                 alt="hello books logo">
            Hello Books
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <button type="button" class="btn btn-primary">
                    Messages <span class="badge badge-light">4</span>
                </button>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">Menu</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Edit Profile</a>
                    <a class="dropdown-item" href="#">Messages</a>
                    <a class="dropdown-item" href="#">Books Borrowed</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item bg-success" href="#">Borrow Books</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">All Books</a>
            </li>
        </ul>
    </nav>
    <hr class="my-4">
    <div class="container-fluid pt-5 pb-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <h4>MOSTLY BORROWED</h4>
                    </div>
                    <div class="media mt-5">
                        <img src="static/img/goodnews.jpeg" class="img-fluid mr-3" alt="my books">
                        <div class="media-body mt-2">
                            <h5>Title: And The Good News Is..</h5>
                            <h6>Author: Dana Perino</h6>
                            <button class="btn btn-warning" aria-hidden="true">Borrow Book</button>
                        </div>
                    </div>
                    <div class="media mt-5">
                        <img src="static/img/greatreset.gif" class="img-fluid mr-3" alt="my books">
                        <div class="media-body mt-2">
                            <h5>Title: The Great Reset</h5>
                            <h6>Author: Richard Florida</h6>
                            <button class="btn btn-warning" aria-hidden="true">Borrow Book</button>
                        </div>
                    </div>
                    <div class="media mt-5">
                        <img src="static/img/rework.png" class="img-fluid mr-3" alt="my books">
                        <div class="media-body mt-2">
                            <h5>Title: Rework</h5>
                            <h6>Author: Jason & David</h6>
                            <button class="btn btn-warning" aria-hidden="true">Borrow Book</button>
                        </div>
                    </div>
                    <hr class="my-4">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <h4>TRENDING</h4>
                    </div>
                    <div class="media mt-5">
                        <img src="static/img/civiliantradition.png" class="img-fluid mr-3" alt="my books">
                        <div class="media-body mt-2">
                            <h5>Title: The Civil Law Tradition</h5>
                            <h6>Author: John Henry</h6>
                            <button class="btn btn-warning" aria-hidden="true">Borrow Book</button>
                        </div>
                    </div>
                    <div class="media mt-5">
                        <img src="static/img/burningbright.jpg" class="img-fluid mr-3" alt="my books">
                        <div class="media-body mt-2">
                            <h5>Title: Burning Bright</h5>
                            <h6>Author: Sophie McKenzie</h6>
                            <button class="btn btn-warning" aria-hidden="true">Borrow Book</button>
                        </div>
                    </div>
                    <div class="media mt-5">
                        <img src="static/img/cottage.jpg" class="img-fluid mr-3" alt="my books">
                        <div class="media-body mt-2">
                            <h5>Title: Cotagge by the Sea</h5>
                            <h6>Author: Debbie Macomber</h6>
                            <button class="btn btn-warning" aria-hidden="true">Borrow Book</button>
                        </div>
                    </div>
                    <hr class="my-4">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <h4 class="">FEATURED</h4>
                    </div>
                    <div class="media mt-5">
                        <img src="static/img/eight.jpg" class="img-fluid mr-3" alt="my books">
                        <div class="media-body mt-2">
                            <h5>Title: The Eight</h5>
                            <h6>Author: Katherine Neville</h6>
                            <button class="btn btn-warning" aria-hidden="true">Borrow Book</button>
                        </div>
                    </div>
                    <div class="media mt-5">
                        <img src="static/img/heiroffire.jpg" class="img-fluid mr-3" alt="my books">
                        <div class="media-body mt-2">
                            <h5>Title: Heir of Fire</h5>
                            <h6>Author: Sarah Maas</h6>
                            <button class="btn btn-warning" aria-hidden="true">Borrow Book</button>
                        </div>
                    </div>
                    <div class="media mt-5">
                        <img src="static/img/playdirty.jpg" class="img-fluid mr-3" alt="my books">
                        <div class="media-body mt-2">
                            <h5>Title: Play Dirty</h5>
                            <h6>Author: Sandra Brown</h6>
                            <button class="btn btn-warning" aria-hidden="true">Borrow Book</button>
                        </div>
                    </div>
                    <hr class="my-4">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-4">
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>